<GridLayout class="border-dashboard" columns="*,*,*,*" rows="*,*,*">
  <ng-container *ngFor="let array of arrays; let i = index">
    <ng-container *ngFor="let item of array; let j = index">
      <StackLayout [row]="i" [col]="j" verticalAlignment="middle" horizontalAlignment="center">
        <Label row="0" [text]="item.icon" horizontalAlignment="center" class="fa f-60"></Label>
        <Label row="1" [text]="item.name" class="p-t-10 white f-16 text-center"></Label>
      </StackLayout>
    </ng-container>
  </ng-container>
  <!-- <StackLayout  row="0" col="1"  verticalAlignment="middle" horizontalAlignment="center">
      <Label row="0" text="&#xf2bd;" horizontalAlignment="center" class="fa f-60"></Label>
      <Label row="1" text="Eye" class="p-t-10 white f-16 text-center"></Label>
    </StackLayout>
    <StackLayout  row="0" col="2"  verticalAlignment="middle" horizontalAlignment="center">
      <Label row="0" text="&#xf2bd;" horizontalAlignment="center" class="fa f-60"></Label>
      <Label row="1" text="Ball" class="p-t-10 white f-16 text-center"></Label>
    </StackLayout>
    <StackLayout  row="0" col="3"  verticalAlignment="middle" horizontalAlignment="center">
      <Label row="0" text="&#xf2bd;" horizontalAlignment="center" class="fa f-60"></Label>
      <Label row="1" text="Info" class="p-t-10 white f-16 text-center"></Label>
    </StackLayout>

    <StackLayout  row="1" col="0"  verticalAlignment="middle" horizontalAlignment="center">
      <Label row="0" text="&#xf2bd;" horizontalAlignment="center" class="fa f-60"></Label>
      <Label row="1" text="Hotel" class="p-t-10 white f-16 text-center"></Label>
    </StackLayout>
    <StackLayout  row="1" col="1"  verticalAlignment="middle" horizontalAlignment="center">
      <Label row="0" text="&#xf2bd;" horizontalAlignment="center" class="fa f-60"></Label>
      <Label row="1" text="Cat" class="p-t-10 white f-16 text-center"></Label>
    </StackLayout>
    <StackLayout  row="1" col="2"  verticalAlignment="middle" horizontalAlignment="center">
      <Label row="0" text="&#xf2bd;" horizontalAlignment="center" class="fa f-60"></Label>
      <Label row="1" text="Cheer" class="p-t-10 white f-16 text-center"></Label>
    </StackLayout>
    <StackLayout  row="1" col="3"  verticalAlignment="middle" horizontalAlignment="center">
      <Label row="0" text="&#xf2bd;" horizontalAlignment="center" class="fa f-60"></Label>
      <Label row="1" text="Present" class="p-t-10 white f-16 text-center"></Label>
    </StackLayout>

    <StackLayout  row="2" col="0"  verticalAlignment="middle" horizontalAlignment="center">
      <Label row="0" text="&#xf2bd;" horizontalAlignment="center" class="fa f-60"></Label>
      <Label row="1" text="Chair Club" class="p-t-10 white f-16 text-center"></Label>
    </StackLayout>
    <StackLayout  row="2" col="1"  verticalAlignment="middle" horizontalAlignment="center">
      <Label row="0" text="&#xf2bd;" horizontalAlignment="center" class="fa f-60"></Label>
      <Label row="1" text="Curency" class="p-t-10 white f-16 text-center"></Label>
    </StackLayout>
    <StackLayout  row="2" col="2"  verticalAlignment="middle" horizontalAlignment="center">
      <Label row="0" text="&#xf2bd;" horizontalAlignment="center" class="fa f-60"></Label>
      <Label row="1" text="Key" class="p-t-10 white f-16 text-center"></Label>
    </StackLayout>
    <StackLayout  row="2" col="3"  verticalAlignment="middle" horizontalAlignment="center">
      <Label row="0" text="&#xf2bd;" horizontalAlignment="center" class="fa f-60"></Label>
      <Label row="1" text="Menu" class="p-t-10 white f-16 text-center"></Label>
    </StackLayout> -->
</GridLayout>