<GridLayout class="border-dashboard" columns="*,*,*,*" rows="*,*,*">
  <ng-container *ngFor="let array of arrays; let i = index">
    <ng-container *ngFor="let item of array; let j = index">
      <StackLayout [row]="i" [col]="j" verticalAlignment="middle" horizontalAlignment="center">
        <Label row="0" [text]="item.icon" horizontalAlignment="center" class="fa f-60"></Label>
        <Label row="1" [text]="item.name" class="p-t-10 white f-16 text-center"></Label>
      </StackLayout>
    </ng-container>
  </ng-container>
</GridLayout>