.border-dashboard {
    margin: 10% 3% 10% 3% ;
    padding: 3%;
    border-width: 1dp;
    border-color: rgb(65, 65, 65);
}

.p-t-10 {
    padding-top: 10dp;
}

.f-16 {
    font-size: 16dp;
}

.border {
    border-left-width: 0.71;
    border-left-color: red; 
    border-right-width: 0.71;
    border-right-color: red; 
    border-bottom-width: 0.71;
    border-bottom-color: red; 
    border-top-width: 0.71;
    border-top-color: red; 
}

.f-60 {
    font-size: 60dp;
}