<GridLayout class="border-dashboard" rows="*,auto,auto">
    <Image [width]="imgWidth" [height]="imgHeight" src="http://og.github.com/octocat/github-octocat@1200x630.png" stretch="aspectFit"  colSpan="4"></Image>
    <Label text="This is the cat waving at someone" class="f-15 align-text text-center" colSpan="4" row="1" textWrap="true"></Label>
    <GridLayout  columns="*,*,*,*" row="2" class="align-text">
        <Label col="0" text="&#xf004;" horizontalAlignment="center" class="fa f-20"></Label>
        <Label col="1" text="&#xf2bd;" horizontalAlignment="center" class="fa f-20"></Label>
        <Label col="2" text="&#xf16d;" horizontalAlignment="center" class="fa f-20"></Label>
        <Label col="3" text="&#xf017;" horizontalAlignment="center" class="fa f-20"></Label>
    </GridLayout>
</GridLayout>