<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" [text]="title"></Label>
</ActionBar>

<GridLayout rows="*,auto" columns="">
    <Pager #pager row="0" [itemTemplateSelector]="templateSelector"  [items]="components"
         (selectedIndexChange)="onIndexChanged($event)"
        backgroundColor="rgba(244,245,246,1)" class="m-t-6">

        <ng-template pagerTemplateKey="dashbaordOne" let-i="index" let-item="item">
            <GridLayout>
                <ns-dashboard-one></ns-dashboard-one>
            </GridLayout>
        </ng-template>

        <ng-template pagerTemplateKey="dashbaordTwo" let-i="index" let-item="item">
            <GridLayout>
                <ns-dashboard-two></ns-dashboard-two>
            </GridLayout>
        </ng-template>
    </Pager>
    <tu-bottom-bar></tu-bottom-bar>
</GridLayout>