.active {
	color: blue;
}

.inactive {
    color: rgb(53, 53, 53);
}

.border-top {
    border-top-width: 0.1dp;
    border-top-color: #eeeeee;
}


.f-25 {
    font-size: 25dp;
}

.p-t-10 {
    padding-top: 10dp;
}

.f-12 {
    font-size: 13dp;
}